@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules//bootstrap-icons/font/bootstrap-icons.min.css';

#root {
    margin: 20px;
}

@keyframes appearing {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

li {
    animation-name: appearing;
    animation-duration: 1s;
    animation-fill-mode: both;
}
